.game-over {
  background-color: #9dd3cc;
  padding: 20px;
  border-radius: 20px 0 20px 0;
}

.again-btn {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  background-color: #0051ff;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.score {
  color: green;
  font-size: 20px;
}
